@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=PT+Serif:ital,wght@0,400;0,700;1,400;1,700&display=swap");

body 
{
  margin: 0;
  padding: 0;
    
}

.container 
{
 
    background: #fff;
    min-height: 100vh;
    width: 100%;
    
}

.container .title-content 
{
    width: 100%;
    padding: 2.5rem;
    z-index: 3;
    position: relative;
}

.container h2.title 
{
  
    font-family: "PT Serif";
    font-size: 60px;
  
    max-width: 120%;
    color: #fff;
    
}

.container h2.title .paw-icon
{
    transform: rotateZ(-15deg);
    color: var(--dark-green);
}

.container h2.title span 
{
    color: var(--green);
}

.first-part 
{
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: .9fr 1fr;
    height: 100vh;
    width: 100%;
    background-image: url("../images/pet_sharing.jpg");
    
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center center;
    position: relative;
}



.first-part .title-image 
{
    width: 100%;

    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: flex-end;
    padding: 1rem;
}

.first-part .title-image img 
{
    width: 100%;
    border-radius: 2rem;
}

.first-part .title-image svg 
{
    display: none;
}

.first-part .layout
{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(90deg, rgba(0, 0, 0, .2), rgba(0, 0, 0, .4));
    z-index: 1;
    width: 100%;
    height: auto;
}

.second-part 
{
    text-align: center;
    width: 100%;
    max-width: 90%;
    min-height: 50vh;
    margin: 5rem auto;
}

.second-part .second-part-title 
{
    width: 100%;
    color: var(--text-color);
    font-size: 5vw;
}

.second-part .second-part-title span 
{

    background: -webkit-linear-gradient(0deg, var(--green), var(--dark-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.second-part > p 
{
    color: grey;
    margin-top: 1rem;
    font-size: 20px;
}

.card-container 
{
    display: grid;
    grid-template-columns: 1fr .1fr 1fr;
    margin: 3rem auto;
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 350px;
    
}


.card-container > .card:first-child
{
   margin: 0 2.85rem;
   background: linear-gradient(180deg, var(--dark-green), var(--green));
}
.card-container > .card:last-child
{
    margin: 0 -2.85rem;
    background: linear-gradient(180deg, var(--dark-green), var(--green));
}

.card-container .card 
{
    width: 100%;
    height: 100%;
    font-size: 20px;
    border-radius: 2rem;
    position: relative;
   
}



.card-container .connector-icon
{
    font-size: 50px;
    background: #fff;
    border-radius: 50%;
    color: var(--dark-green);
    position: relative;
    z-index: 2;
    padding: 1rem .75rem;
    cursor: pointer;
    border: 10px solid transparent;
    transition: all 350ms ease;
}

.card-container .connector-icon:hover
{
    color: #fff;
    background: var(--dark-green);
    border: 2px solid #fff;
}

.card .card-title 
{
    color: #fff;
    text-align: left;
    margin: 1rem;
    font-size: 35px;
    max-width: 90%;
    font-family: "DM Sans";
}

.card .dominant-container-icon
{
    position: absolute;
    bottom: 20px;
   
   

}

.card p 
{
    color: rgba(255, 255, 255, .85);
    font-family: "PT Serif";
    padding: 0 1rem;
    font-size: 20px;
}

.card .dominant-container-icon .dominant-icon
{
    font-size: 40px;
    color: var(--text-color);
}

.card:first-child p
{
    padding-right: 3rem;
    text-align: left;
}

.card:last-child p 
{
    padding-left: 3rem;
    text-align: right;
}


.card:first-child .dominant-container-icon
{
    
    right: 30px;
    
}

.card:last-child .dominant-container-icon
{
   left: 30px;
}

.third-part,
.fourth-part 
{
    width: 100%;
    max-width: 85%;
    margin: 10rem auto;
    min-height: 50vh;
    display: grid;
    justify-content: center;
    grid-template-columns: 1fr 1fr;
    height: 100%;
    column-gap: 2rem;
}

.third-part .image-container
{
    width: 100%;
    display: flex;
    justify-content: center;
}

.third-part .image-container img
{
    width: auto;
    max-height: 50vh;
    border-radius: 1rem;
}

.third-part .text-container,
.fourth-part .text-container 
{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.third-part .text-container p,
.fourth-part .text-container p
{
    margin: 2rem 1rem 0;
    
   
}

.coloured-title 
{
    font-size: 50px;
    background: -webkit-linear-gradient(0deg, var(--green), var(--dark-green));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.normal-title 
{
    font-size: 50px;
    color: var(--text-color);
}

.normal-text 
{
    font-size: 22px;
    color: var(--text-color);
    line-height: 35px;
    font-family: "PT Serif";
}

@media only screen and (max-width: 1200px) {
    .first-part 
    {
        background-attachment: initial;
        display: flex;
    }

    .second-part .second-part-title 
    {
        font-size: 7.5vw;
    }
    

    .third-part,
    .fourth-part 
    {
        display: flex;
        flex-direction: column-reverse;
        justify-items: center;
        align-items: center;
        max-width: 90%;
    }

    .fourth-part  
    {
        flex-direction: column;
    }

    .coloured-title
    {
        font-size: 5vw;
        margin-top: 2rem;
    }

    .normal-text
    {
        font-size: 2vw;
        margin: 0 auto;
        text-align: left;
    }

    .third-part .image-container img,
    .fourth-part .image-container img
    {
        width: 100%;
        max-height: initial;
    }
}

@media only screen and (max-width: 1000px) 
{
    .card-container 
    {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr .1fr 1fr;
    }

    .card-container .card 
    {
        min-height: 35vh;
        display: flex;
        align-items: center;
        flex-direction: column;
     
    }

    .card-container > .card:first-child
    {
        
        margin: 2.85rem auto 0;
        padding-bottom: 2.85rem;
        padding-top: 3.5rem;
        
    }

    .card-container > .card:last-child
    {
   
        margin: -2.85rem auto 0;
        padding-bottom: 2.85rem;
        padding-top: 5rem;
        text-align: left;
    }

    .card .card-title
    {
        text-align: center;
    }

 

    .card:last-child p,
    .card:first-child p
    {
        text-align: left;
        margin: 0 auto;
        padding: 0 1rem;
    }

    .card:first-child .dominant-container-icon
    {
        right: initial;
        bottom: 2rem;
        
    }


    .card:last-child .dominant-container-icon
    {
        left: initial;
        top: 2rem;
        
    }

    .card p 
    {
        padding: 0;
    }
}

@media only screen and (max-width: 800px) {


    .first-part 
    {
        display: flex;
        height: 50vh;
       
    }

    .container .title-content 
    {
        padding: 2.5rem;
    }

    .container h2.title 
    {
        font-size: 30px;
    }

    .second-part
    {
        min-height: 100vh;
    }

    .second-part .second-part-title 
    {
        font-size: 7.5vw;
    } 

    .second-part > p 
    {
        font-size: 20px;
    }

    .coloured-title 
    {
        font-size: 7vw;
    }

    .normal-text
    {
        font-size: 3.5vw;
        line-height: 5vw;
     
    }

    .third-part,
    .fourth-part
    {
        margin: 5vh auto;
    }

    .card .card-title 
    {
        font-size: 6vw;
    }
}